<div id="sideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/auth">ABC: Authentication</a>
</div>
<span class="side-menu-button" onclick="toggleNav()">&#9776;</span>